# test
# test228
# Без ничего 2282112
# Костинова Мария Анатольевна 44-23-167
# Зимина Екатерина Александровна 44-23-167
# Костинова Мария Анатольевна 44-23-167
# Булгакова Виктория Николаевна 44-23-167
# Савчук Яна Сергеевна 44-23-167
*__pycache__*
*venv*
*vscode*
*db.sql*