body {
    background-image: linear-gradient(to bottom,
            rgba(253, 253, 253, 0.5),
            rgba(75, 98, 226, 0.5));
    min-height: 100vh;
}

input,
textarea {
    width: 100%;
}

img {
    border-radius: 10px;
}

img:hover {
    background: 'static/app/img/z_on.png';
}

input[type=checkbox] {
    width: 20px;
}

footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}