<html>

<head>
    <title>ПР3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            Главное меню
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://mail.ru">На сайт mail.ru</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ya.ru">На сайт ya.ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="my-left  d-none d-lg-block col-3">
            <span class="badge text-bg-info ">Пелмени классическик</span> — Какие именно пельмени считать классическими — 
            вопрос неоднозначный, ибо споры о том, где появилось это блюдо, ведутся до сих пор. Вроде бы, их китайские корни 
            неоспоримы, но ведь мы говорим о «наших» мясных, которые сильно отличаются от своих азиатских «собратьев». 
            Еще один камень преткновения — классический рецепт, казалось бы, простейшего вытяжного теста. С яйцами или без? А если добавлять, 
            то сколько? Да и с рецептом начинки дело обстоит не лучше, потому что те же сибиряки (одни из тех, кто считает пельмени своим исконным 
            блюдом) уверены, что без трех видов мяса приготовление даже лучше не начинать. Мы изучили множество рецептов, опросили десятки профессионалов, 
            вывели свой и проверили его на практике
            
            <img style="border-radius: 25px; width: 60%" src="https://sun9-32.userapi.com/impg/CZuVOG9FuK8NDPZbrDp0QoizeB1flIhxCUCS6g/pCApP5O7XMk.jpg?size=604x511&quality=96&sign=de9c6d41e1400bb9523b6de349f03aee&type=album">
            
            <h4>Процесс приготовление</h4>
            

            <li>
                Шаг 1
                Приготовить тесто для классических пельменей. Муку просеять, собрать горкой. 
                Сделать сверху углубление, влить в него яйцо и 1 ст. л. воды, добавить щепотку соли.
            </li>
            <li>
                Шаг 2
                Собрать муку с краев к середине, чтобы вода и яйцо не выливались из углубления. 
                Вымесить тесто, добавляя небольшими порциями оставшуюся воду. * Вода для 
                пельменного теста должна быть ледяной. Для этого ее заранее ставят в холодильник. 
                Месить тесто для пельменей, пока оно не станет эластичным и однородным. Накрыть 
                влажным полотенцем и оставить на 30 мин. В это время приготовить начинку. Лук и 
                чеснок очистить, мелко порубить. Смешать говяжий и свиной фарш, добавить лук с чесноком, 
                посолить, поперчить.
                Тщательно перемешать до однородности.
            </li>
            <li>
                Шаг 3 
                Готовое тесто для пельменей разделить на 4 части, три из них накрыть влажным полотенцем 
                и отложить. Оставшееся тесто скатать в жгут толщиной 2 см. Нарезать его на кусочки шириной 1,5 см.
            </li>
            <li> 
                Шаг 4 
                На присыпанной мукой поверхности раскатать каждый кусочек теста для пельменей в тонкую лепешку.
                Выложить в центр каждой лепешки по 1,5 ч. л. начинки, сложить кружок с начинкой пополам так, чтобы получился "полумесяц".
                Соединить концы "полумесяца" и скрепить их. Прижать пальцами, чтобы концы склеились. Выложить пельмени на поднос, присыпать 
                мукой и поставить в холодильник. Так же приготовить пельмени из оставшегося теста. Пельмени следует сразу же отварить или заморозить. 
                Для замораживания их раскладывают в один слой на присыпанный мукой поднос и убирают в морозильную камеру. Когда замерзнут, их можно переложить в пакеты.
                Отваривают пельмени, кладя их небольшими порциями в кипящую, чуть подсоленную воду. Как только пельмени всплывут, достать их шумовкой, немного подержать над паром 
                и подавать к столу со сметаной, маслом или уксусом.
            </li>
            Хорошие пельмени, это очень, очень вкусно. На самом деле рецепт простой. Много мяса, мало теста.
                    
        </div>
        <div class="my-content col-12 col-lg-9">
            Практические работа №3<br>
            <div class="txt-center txt-red">Сушков Даниил Денисович</div>

            <div class="txt-center">44-23-167<br>
                хобби:
                <span class="badge text-bg-info ">Готовить тортики</span>
                <span class="badge text-bg-info">Делать сальто в майнкрафте</span>
                <br>
                Список друзей
                <table class="table table-striped table-hover">
                    <tr>
                        <th>№ </th>
                        <th>лучший друг</th>
                        <th>email</th>
                    </tr>
                    <tr>
                        <td>1 </td>
                        <td>Иванов Илья</td>
                        <td>ivanov134@gmail.com</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Брезинский Виктор</td>
                        <td>volgatop@gmail.com</td>
                    </tr>
                    <td>3 </td>
                    <td>Том Хохланд</td>
                    <td>tom_hohol@gmail.com</td>
                    </tr>
                        <td>4 </td>
                        <td>Дмитрий Александрович</td>
                        <td>dmitrya@gmail.com</td>
                    </tr>
                </table>


                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <img src="http://kartinkof.club/uploads/posts/2022-03/1648369027_49-kartinkof-club-p-memi-s-kotami-bez-nadpisei-50.jpg" style="width: 100%">
                    </div>
                </div>
                <br>

                Где серьезный кот:<br>
                <input class="form-control" value="таких котов не наблюдается"><br>
                <button class="btn btn-success mt-1"
                    onclick="alert('Серьезный котик - это ты, улыбнись!')">Проверить</button>
            </div>
        </div>

</body>

</html>