<html>

<head>
    <title>Пример 1</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <b>Практическая работа №2 <br></b>
    <div class="txt-center txt-red"> Безалтынных Александр Олегович<br></div>
      <div class="txt-center"><i>44-23-170<br></i></div>
    <div class="txt-center">хобби: книги, игры, учеба <br></div>
    Список друзей <br>
    <table>
        <tr>
            <td>№</td>
            <td>Лучший друг</td>
            <td>Почта</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Сидоров Сергей Олегович</td>
            <td>Amerlay@mail.ru</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Совков Дмитрий Иванович</td>
            <td>COVA@mail.ru</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Кочергин Александр Игнатьевич</td>
            <td>KoCherga@mail.ru</td>
        </tr>
    </table>
    <br>Задача: ответь на вопрос - (Какое число вселенной?)
    <br> <img src="https://storage.fabulae.ru/images/authors/8139/foto_101317.jpg"width="400">
    <br> Введите ответ:
    <input>
    <button>Проверить</button>
    
</body>

</html>