<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Поиск максимума из трех чисел! <br>
    A = <input id="A"  placeholder="Введите число"><br>
    B = <input id="B"  placeholder="Введите число"><br>
    C = <input id="C"  placeholder="Введите число"><br>
    <button onclick="findMax()">Поиск максимума</button><br>
    Максимум из A, B, C <br> <input id="R"><br>

    <script>
        function findMax(){
            A = document.getElementById('A').value 
            B = document.getElementById('B').value 
            C = document.getElementById('C').value 
            A = Number (A)
            B = Number (B)
            C = Number (C)
        
            console.log('A=' + A + ' B=' + B + ' C=' + C)
            if (A>B){
                if (A>C){
                R = A
                }
                else{
                    R = C
                }
            }
            else{
                if(B>C)
                   R = B
                else
                   R = C
            }
            document.getElementById('R').value = R
        }
    </script>        
</body>     
</html>