<html>

<head>
    <title>Пример 2</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   <font size="+3"><b>Практическая работа №2</b></font> <br>
   <br>
   <div class="txt-center"><strong><font color="red">Булгакова Виктория Николаевна</font></div></strong></p> 
   <p align=center><em>44-23-167</em></p> 
   <p align=center>хобби: <em>рисование, спорт</em> </p>
   Список друзей: <br>
    <table>
        <tr>
            <td>№</td>
            <td>Имя друга</td>
            <td>email</td>
        </tr>
        <tr>
            <td>1</td>
            <td><div class="txt-purple"> Зимина Екатерина </div> </td>
            <td>guzey@mail.ru</td>
        </tr>
        <tr>
            <td>2</td>
            <td><div class="txt-green"> Леонтьева Марина </div> </td>
            <td>gelich@mail.ru</td>
        </tr>
        <tr>
            <td>3</td>
            <td><div class="txt-blue">Сафина Дарья </div> </td>
            <td>firsova@mail.ru</td>
        </tr>
        <tr>
            <td>4</td>
            <td><div class="txt-pink">Тарасова Евгения </div> </td>
            <td>tarasova@mail.ru</td>
        </tr>
        <tr>
            <td>5</td>
            <td><div class="txt-red">Гуфельд Андрей </div> </td>
            <td>guf@mail.ru</td>
        </tr>
        <tr>
            <td>6</td>
            <td><div class="txt-burlywoo">Бортников Андрей </div> </td>
            <td>bort@mail.ru</td>
        </tr>
        <tr>
            <td>7</td>
            <td><div class="txt-grey">Сорокин Михаил </div> </td>
            <td>soroka@mail.ru</td>
        </tr>
    </table>
    <br>
    Задача: <br>
    Сколько птичек на картинке?<br>
    <br>
    <img src="https://wp-s.ru/wallpapers/5/8/557867235029520/pevchie-pticy-na-zabore.jpg" width="400"> <br>
    <br>
    Введите ответ:
    <input type="Введите ответ:/"> <br>
    <br>
    <button type="button">Проверить ответ</button>
    
    
</body>

</html>