<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'my/css/style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <title>{% block title %} {% endblock %}</title>
</head>

<body class="container">
    <aside>
        <img src="{%static 'my/img/z.png'%}" width="150" alt="Лого">
        <h3>Навигация</h3>
        <i class="fa-solid fa-house-user m-2"></i></i></i><a href="{%url 'url_list'%}">Главная</a><br>        
        {% if user.is_authenticated %}
            <i class="fa-sharp fa-solid fa-plus m-2"></i><a href="{%url 'url_create'%}">Добавить</a><br>
            <i class="fa-solid fa-arrow-right-from-bracket m-2"></i></i><a href="{%url 'logout'%}">Выход</a>
        {% else %}
        <i class="fa-solid fa-arrow-right-to-bracket m-2"></i><a href="{%url 'login'%}">Вход</a><br>
        {% endif %}
    </aside>
    <center class="mb-2">Web-сервис</center>
    <main>
        {% block content %}

        {% endblock %}

    </main>

    <footer class="fs-7">Все права защищены ib-swsu@yandex.ru</footer>

</body>

</html>