<html>

<head>
    <title>ПР3</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            Главное меню
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://mail.ru">На сайт mail.ru</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://ya.ru">На сайт ya.ru</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="my-left  d-none d-lg-block col-3">
            <span class="badge text-bg-info ">Профессия экономист</span> — специалист по экономике или по её разделам, эксперт по экономическим вопросам промышленности, сельского хозяйства,
    банковского дела. 
        <div></div>
            
            <img style="border-radius: 25px; width: 33%" src="https://kartinki.pics/uploads/posts/2022-03/1646131820_12-kartinkin-net-p-ekonomist-kartinki-12.jpg">
            
            <h4>Рассказываем об этой профессии</h4>
            

            <li>
                Специализации.
                В компании он анализирует, планирует и прогнозирует финансовые показатели бизнеса. 
                Например, изучает отчёты, находит закономерности, составляет финансовые модели и занимается бюджетированием.

            </li>
            <li>
                Востребованность. Экономисты останутся востребованными в ближайшем будущем. С появлением новых технологий инструменты и методы расчётов, возможно, изменятся, но базовые экономические правила и законы — нет.
            </li>
            Сегодня работа экономистом продолжает оставаться одной из наиболее актуальных и востребованных, ведь благодаря этим специалистам организация может рассчитывать на постоянное развитие и финансовую рентабельность.
        </div>
        <div class="my-content col-12 col-lg-9">
            Практические работа №3<br>
            <div class="txt-center txt-red">Супрун Анна Юрьевна</div>

            <div class="txt-center">44-23-171<br>
                хобби:
                <span class="badge text-bg-info ">книги</span>
                <span class="badge text-bg-info">изобразительное искусство</span>
                <span class="badge text-bg-info ">спорт</span>
                <br>
                Список друзей:
                <table class="table table-striped table-hover">
                    <tr>
                        <th>№ </th>
                        <th>Имя друга</th>
                        <th>email</th>
                    </tr>
                    <tr>
                        <td>1 </td>
                        <td>Тарабарова Марина</td>
                        <td>marina@mail.ru</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Тишина Дарья</td>
                        <td>thishina@mail.ru</td>
                    </tr>
                    <td>3 </td>
                    <td>Пашутко Дарья</td>
                    <td>pasutko@mail.ru</td>
                    </tr>
                </table>


                <div class="row">
                    <div class="col-3">

                    </div>
                    <div class="col-6">
                        <img src="https://pichold.ru/wp-content/uploads/2019/07/7143caf9bea27dc0b4cb8ab632f8c3f2-1024x640.jpg" style="width: 100%">
                    </div>
                </div>
                <br>

                Сколько мейн-кунов на картинке?<br>
                <input class="form-control" value="Введите ответ"><br>
                <button class="btn btn-success mt-1"
                    onclick="alert('Правильно, 4')">Проверить</button>
            </div>
        </div>

</body>

</html>