{% extends 'my/layout.html' %}

{% block title %}Новости{% endblock%}

{% block content %}

{%for d in data%}
<div class="upward"></div>
<div class="card mb-3" style="max-width: 500px;">
      <div class="card-body">
        {% if 'http' in d.img_url %} 
        <p align=center><img src="{{ d.img_url }}" width="220" alt="Изображение" /> </p> 
        {% endif %}
        <h5 class="card-title"> <p align=center> {{ d.caption }}</h5></p> 
    <p class="card-text"><p align=center>{{ d.full_text }}</p></p> 
    <a href="/preview/{{d.id}}"><p align=center>Обзор</a></p>
      </div>
</div>

{%endfor%}
{% endblock%}


