.txt-center {
    text-align: center;
    text-decoration: underline;

  }

.txt-under {
    text-decoration: underline;
}

/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }
 .txt-purple {
   color:purple;
   text-align: left;
}
   .txt-green {
      color:green;
      text-align: left;
   }
   .txt-blue {
      color:blue;
      text-align: left;
   }
   .txt-pinr {
      color:pink;
      text-align: left;
   }
   .txt-red {
      color:red;
      text-align: left;
   }
   .txt-burlywood {
      color:burlywood;
      text-align: left;
   }
   .txt-grey{
      color:grey;
      text-align: left;