<html>

<head>
    <title>Work-02</title>
    <link rel="stylesheet" href="style.css">
</head>
<style>
  .txt-center {
    text-align: center;

  }

.txt-under {
    text-decoration: underline;
}

/* внешние границы таблицы серого цвета толщиной 1px */
table {
    border: 1px solid grey;
 }
 /* границы ячеек первого ряда таблицы */
 th {
    border: 1px solid grey;
 }
 /* границы ячеек тела таблицы */
 td {
    border: 1px solid grey;
 }
 .txt-red {
    color:red;
 }

 .fio{
   color:red;
   text-align: center;
}

.Kod{
   text-align: center;
}

</style>
<body>
    <p> <B>Практическая работа №2</p>
    <p class=fio > Якунин Аексей Владимирович</b></p>
    <i><P class=kod> 44-23-169</P></i>
    <i><P class=kod>  Хобби: архитектура</P></i>
   
    <table>
        <caption>Список друзей</caption>
          <tr>
            <th>№</th>
            <th>Лучший друг</th>
            <th>emale</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Сергеев Иван</td><td>IVAN@gmail.com</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Назарова Софья</td><td>123@gmail.com</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Петров Пётр</td><td>1234@gmail.com</td>
          </tr>
        </table>
    <p>Задача:</p>
    <img src="https://avatars.mds.yandex.net/i?id=a4019a1aa221c7707915c8483d3f413f8ba93ee8-8312878-images-thumbs&n=13" width="300">
    <p>Ведите ответ:</p>
    <input>
    <input type="button" value="Проверить">
    <br><img src="http://xrust.ru/uploads/posts/2018-06/1527834577_maxresdefault.jpg" width="300">
</body>
</html>