body {
    margin: 10px 0;
    background-color: antiquewhite;
}

a {
    text-decoration: none;
}

aside {
    float: left;
    width: 20%;
}

main {
    padding-left: 10px;
    width: 80%;
    float: right;
    border-left: solid;
    border-color: rgba(238, 223, 182, 0.747);
}

footer {
    position: absolute;
    bottom: 10px;
}
